[submodule "vendor/burn"]
	path = vendor/burn
	url = https://github.com/jeff-hiner/burn.git
	branch = hearth-patches
[submodule "vendor/cubek"]
	path = vendor/cubek
	url = https://github.com/jeff-hiner/cubek.git
	branch = hearth-patches
[submodule "vendor/cubecl"]
	path = vendor/cubecl
	url = https://github.com/jeff-hiner/cubecl.git
	branch = caching
